:root {
    /* BACKGROUND COLORS */
    --c-primary-background: rgb(73, 160, 152);
    /* FONT COLORS */
    --c-primary-font: rgb(230, 246, 124);
    --c-secondary-font: rgb(255, 255, 255);
}

.app-d-flex {
    background-color: var(--c-primary-background);
    height: 100vh;
}

.app-row {
    background-color: var(--c-primary-background);
    height: 100%;
    overflow-y: scroll;
}
